.main_div{
    border: 1px solid gray;
    border-radius: 5px;
   padding: 20px;
}

.upper_header_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user_details_main{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}
.user_detail_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.popup_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 1px solid gray;
   border-radius: 5px;


}

.post_list_div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    
}